body {
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  height: auto;

  background-color: yellow;
}

button {
  margin: auto;
  padding: 0.5em 0.75em;
}

